* {
    margin:0;
    border:0;
    padding:0;

}
/**/
.hero{

    height:500px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

/* box inside the hero, to center the other content*/
.hero-items1{
    display:flex;
    gap:80px;
    align-items: center;
}

/*Hero header*/
.hero-items2 h2{
    font-size: 48px;
    color: #f9faf8;
}

/*Hero subtext*/
.hero-items2 p{
    font-size: 18px;
    color: #E5E7EB;
}

/*Hero button*/
.hero-items2 button{
    font-size: 18px;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

/*Hero lemon cake image*/
.hero-items2 img{
    height:250px;
}

/*Header*/
header{

    display: flex;
    font-size:18px;
    background-color: #1f2937;
    color:#f9faf8;
    height:60px;
    align-items: center;
}

nav{
    display:flex;
    justify-content:space-around;
    flex: 1 1 200px;
}

.nav{
    font-size: 18px;
    flex: 1 0 100px;
    color:#E5E7EB;
}

.logo_container{
    flex: 1 0 200px;
    margin-left: 200px;
    display: flex;
    justify-content: start;
    font-size:24px;
}

/*main section*/
.main{
     height: 300px;
}

/*main information section*/
.main1{
    
    display: flex;
    justify-content: center;
}

.main1_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main1 p{
    margin-top: 20px;
}

.image_holder{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.image{
    height: 150px;
    
}

.main2{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:36px;
    color: #1f2937;
    background-color: #E5E7EB;
}

.main3{
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3_flex{
    display: flex;
    background-color: #3882f6;
    height: 100px;
    width: 80%;
    justify-content: baseline;
    align-items: center;
}

.main3_flex button{
    background-color: #3882f6;
    border: solid 1px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    margin-left: 400px;
}

.main3_flex p{
    margin-left: 30px;
}

footer{
    background-color: #1f2937;
    color: #f9f9f9;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

