* {
    border-color: red;
    border: 5px;
}
header{
    margin-top: 20px;
    display: flex;
}

nav{
    display:flex;
    justify-content:space-evenly;
    flex: 1;
}

.nav_{
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
}

.logo_container{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

